@import 'normalize.css';

* {
    outline: none !important;
}

html {
    font-size: 62.5%;
    font-family: Muli, Roboto, Helvetica Neue, Arial, sans-serif;
    background-color: #262933;
}

body {
    font-size: 14px;
    line-height: 1.4;
}

html, body, #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

h1, .h1 {
    font-size: 24px;
}

h2, .h2 {
    font-size: 20px;
}

h3, .h3 {
    font-size: 16px;
}

h4, .h4 {
    font-size: 15px;
}

h5, .h5 {
    font-size: 13px;
}

h6, .h6 {
    font-size: 12px;
}

.ps > .ps__rail-y,
.ps > .ps__rail-x {
    z-index: 99;
}

a[role=button] {
    text-decoration: none;
}

[role="tooltip"] {
    z-index: 999;
}

/* Medium Devices, Desktops Only */
@media only screen and (min-width: 992px) {
    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
        background-color: rgba(0, 0, 0, 0);
    }

    ::-webkit-scrollbar:hover {
        width: 12px;
        height: 12px;
        background-color: rgba(0, 0, 0, 0.06);
    }

    ::-webkit-scrollbar-thumb {
        border: 2px solid transparent;
        box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.24);
        border-radius: 20px;
    }

    ::-webkit-scrollbar-thumb:active {
        box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.37);
        border-radius: 20px;
    }
}

form label {
    z-index: 99;
}

@import 'print.css';

@import 'tables.css';

@import 'react-table.css';

@import 'prism.css';

@import 'tailwind.css';

.sigContainer {
  width: 100%;
  height: 100%;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

.sigPad {
  width: 100%;
  height: 100%;
}

.sigFooter {
  width: 100%;
  height: 100%;
  margin: 20px auto;
  text-align: right;
}

.PDFPreview input,
.PDFPreview button {
  font: inherit;
}
.PDFPreview header {
  background-color: #323639;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}
.PDFPreview header h1 {
  font-size: inherit;
  margin: 0;
}
.PDFPreview__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
}
.PDFPreview__container__load {
  margin-top: 1em;
  color: white;
}
.PDFPreview__container__document {
  margin: 1em 0;
}
.PDFPreview__container__document .react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.PDFPreview__container__document .react-pdf__Page {
  max-width: calc(100% - 2em);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin: 1em;
}
.PDFPreview__container__document .react-pdf__Page canvas {
  max-width: 100%;
  height: auto !important;
}
.PDFPreview__container__document .react-pdf__message {
  padding: 20px;
  color: white;
}
